<div id="main" fxLayout="column">
    <div id="main-form-wrapper" fxLayout="column" fxLayoutAlign="center center">
      <div id="main-form">

        <div class="title">BUSCAR INVOCADOR</div>

        <form name="mainForm" [formGroup]="mainForm" novalidate>
            <mat-form-field>
              <input matInput placeholder="Nombre de invocador" formControlName="summonerName">
              <mat-error *ngIf="mainFormErrors.summonerName.required">
                El Nombre de invocador es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-select placeholder="Seleccione su región" formControlName="region">
                <mat-option *ngFor="let region of regions" [value]="region.value">
                  {{ region.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <button mat-raised-button color="accent" class="submit-button" aria-label="BUSCAR"
                  [disabled]="mainForm.invalid"
                  (click)="createUser()">
            BUSCAR
          </button>
        </form>

        <div class="login" fxLayout="column" fxLayoutAlign="center center">
          <a class="link" [routerLink]="'/auth/login'">Accede a tu cuenta</a>
        </div>

        <div class="register" fxLayout="column" fxLayoutAlign="center center">
          <span class="text">¿Aún no tienes cuenta?</span>
          <a class="link" [routerLink]="'/auth/register'">Registrate</a>
        </div>
      </div>
    </div>
</div>
